# This file contains pin mappings for the stock Sovol SV06.
# 
# Find installation instructions at https://github.com/bassamanator/Sovol-SV06-firmware
# 
# See https://www.klipper3d.org/Config_Reference.html for configuration reference.

[include ./osskc.cfg]


[mcu]
# NOTE Obtain definition by "ls -l /dev/serial/by-path/" or "ls -l /dev/serial/by-id/"
#serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0-port0
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 200
#max_accel: 3000
max_accel: 7000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 8.0
minimum_cruise_ratio: 0.5

#####################################################################
#      X/Y/Z Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 223 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC1
run_current: 0.860
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA5

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 128
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 223 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC0
run_current: 0.900
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA6

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 128
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 245 #255_SV06 # NOTE You can adjust this if you have more room
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PA15
run_current: 1.000
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 128
rotation_distance: 4.58297 #old_4.606 # NOTE Calibrate e-steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders, https://github.com/bassamanator/everything-sovol-sv06/blob/main/howto.md#calibrate-esteps
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_kd: 86.991
#pid_kp: 21.479
#pid_ki: 1.326
min_temp: 0
max_temp: 300
max_extrude_only_distance: 150.0
max_extrude_cross_section: 5 # NOTE Needed for KAMP purge

[tmc2209 extruder]
uart_pin: PC14
run_current: 0.550
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 125

[verify_heater heater_bed]
heating_gain: 2
check_gain_time: 90
hysteresis: 5
max_error: 120


#####################################################################
#   Probe Related
#####################################################################

[probe]
pin: PB1
x_offset: 27
y_offset: -20
#z_offset: 0
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 84.50, 135 # NOTE The probe is at the center of the bed.
speed: 100.0
z_hop: 10
z_hop_speed: 15

[bed_mesh]
speed: 250
mesh_min: 27, 6 # probe as close to origin as possible while remaining fully on the bed
mesh_max: 222, 203 # (x.position_max - 1), (y.position_max - abs(y_offset)) ; probe as far as possible from the origin while remaining fully on the bed
probe_count: 6, 6
algorithm: bicubic
mesh_pps: 1, 1
fade_start: 1
fade_end: 10
fade_target: 0

#[axis_twist_compensation]
#calibrate_start_x: 27 # probe x coor at furthest left ; abs(x_offset)
#calibrate_end_x: 195 # probe x coor at furthest right ; (x.position_max - abs(x_offset) - 1)
#calibrate_y: 115
#calibrate_start_y: 27
#calibrate_end_y: 195
#calibrate_x: 115

#####################################################################
#   Fans
#####################################################################

[fan]
pin: PA0

[heater_fan heatbreak_cooling_fan]]
pin: PA13
shutdown_speed: 1.0
#fan_speed: 0.8
heater_temp: 50.0

[controller_fan mcu_fan]
pin: PA14
shutdown_speed: 1.0
fan_speed: 0.5
idle_timeout: 180
idle_speed: 0.3
heater: heater_bed
stepper: stepper_z, stepper_y, stepper_x, extruder

#####################################################################
#   Misc
#####################################################################

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[bed_screws]
screw1_name: front left
screw1: 26.5, 31
screw2_name: front right
screw2: 196.75, 31
screw3_name: back right
screw3: 196.75, 201
screw4_name: back left
screw4: 26.5, 201

[screws_tilt_adjust]
screw1_name: center
screw1: 84.50, 135
screw2_name: front left
screw2: 0, 51
screw3_name: front right
screw3: 169.75, 51
screw4_name: back right
screw4: 169.75, 221
screw5_name: back left
screw5: 0, 221
horizontal_move_z: 10
screw_thread: CCW-M4

[output_pin beeper]
pin: PC6
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[filament_switch_sensor filament_sensor]
switch_pin: PA4 # "Pulled-low"
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
    { action_respond_info("Insert Detected") }
runout_gcode:
    M117 Runout Detected
    { action_respond_info("Runout Detected") }
    CONDITIONAL_BEEP i=3 dur=300 freq=400

[input_shaper]
shaper_freq_x: 56.2
shaper_type_x: mzv
shaper_freq_y: 41.0
shaper_type_y: mzv
#shaper calibration 4

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#####################################################################
#   Power Control
#####################################################################

[output_pin caselight]
pin: !rpi:gpio17
value: 0
shutdown_value: 0

#[output_pin mainpower]
#pin: !rpi:gpio27
#value: 1
#shutdown_value: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.445
#*# pid_ki = 1.201
#*# pid_kd = 1032.902
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.162
#*# pid_ki = 1.216
#*# pid_kd = 92.056
#*#
#*# [probe]
#*# z_offset = 1.070
#*#
#*# [bed_mesh 80_Strukturiert]
#*# version = 1
#*# points =
#*# 	-0.020625, -0.050313, -0.060938, -0.088125, -0.114531, -0.070781, 0.047656
#*# 	-0.010156, -0.037500, -0.028906, -0.045938, -0.051875, 0.000781, 0.050469
#*# 	-0.001094, -0.022031, -0.016250, -0.029219, -0.034063, 0.028594, 0.079687
#*# 	-0.003906, -0.030469, -0.035938, -0.049531, -0.045781, 0.020937, 0.061250
#*# 	-0.009844, -0.038438, -0.043125, -0.059531, -0.058438, 0.001094, 0.032500
#*# 	-0.005469, -0.032344, -0.034063, -0.053594, -0.062344, -0.013438, 0.009687
#*# 	0.010937, -0.020313, -0.020313, -0.036406, -0.055938, -0.021406, 0.013437
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 202.98
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh 60_glatt]
#*# version = 1
#*# points =
#*# 	0.004531, -0.050469, -0.038906, -0.004688, 0.008437, 0.052969
#*# 	-0.005938, -0.047813, -0.020938, 0.012656, 0.015781, 0.066562
#*# 	0.003437, -0.044844, -0.017188, 0.019062, 0.032187, 0.067500
#*# 	-0.009219, -0.064844, -0.047656, -0.001406, 0.016094, 0.043906
#*# 	-0.007344, -0.059531, -0.042031, -0.002031, -0.000781, 0.009375
#*# 	0.014062, -0.035781, -0.019688, 0.005000, -0.016719, -0.025781
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.050911, -0.062747, -0.073645, -0.098822, -0.137919, -0.146861
#*# 	  -0.025775, -0.041205, -0.041634, -0.058217, -0.090596, -0.089537
#*# 	  -0.044077, -0.049662, -0.038842, -0.043081, -0.055772, -0.053151
#*# 	  -0.034448, -0.046909, -0.048901, -0.032515, -0.049582, -0.054460
#*# 	  -0.027895, -0.039262, -0.033598, -0.030650, -0.047872, -0.053688
#*# 	  0.000690, -0.013178, -0.015482, -0.027690, -0.067413, -0.090104
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 27.0
#*# max_x = 222.0
#*# min_y = 6.0
#*# max_y = 203.0
#*#